/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}


:root{
	
  	--font-familly-content: 'Work Sans' ;
	--main-color: #FFFCF4  ;
}
body {
	line-height: 1;
	background-color: var(--main-color);
	
}
ol, ul {
	list-style: none;
}
a{
	text-decoration: none;
	color:inherit;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1400px;
	margin:auto;
	font-family: var(--font-familly-content) ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li  {
	padding: 0 10px;
	font-size: 1.2em;
}

li :hover, a:hover {
	color: #B1663C;
}
nav li a{
	text-decoration: none;
	color: inherit;
}



#introduction {
	display: flex;
	align-items: center;
	margin-bottom: 150px;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.loged-content{
	display: none;
}
/* section portfolio */
/* placement bandeau titre */
.order-title-projets{
display: flex;
justify-content: center;
margin-bottom: 30px;
}
.btn_modifier{
	
	position: relative;
	right: -30px;
	top: 10px;
	margin-right: 0px;
	
}

.modal{
position: fixed;
display: flex;
align-items: center;
justify-content: center;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.3);
}
/* Gestion de la modale */
.modal-wrapper{
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: auto;
	/* width: 700px; */
	max-width: calc(100vh - 1px);
	max-height: calc(100vh - 1px);
	padding: 40px 40px;
	background: hsl(30, 50%, 99%) ;
	border-radius: 8px;
}

.modal-content{
	padding: 50px;
}

.modal-title{
	color: black;
	font-size: 1.5rem;
	font-family: var(--font-familly-content) ;
	font-weight: 100;
}
/* gallerie de la modale */
.modal-gallery{
	
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 30px;
	border-bottom: solid 1px rgb(168, 167, 167);
	padding-bottom: 60px;
	margin-bottom: 20px;
	margin-top:15px;
}
.trash-container{
	
	position: relative;
	text-align: center;
	top: 22px;
	right: -58px;
	border-radius: 3px;
	background-color: black;
	width: 17px;
	height: 17px;
}
.fa-trash-can{
	vertical-align: middle;
	color: #FFFCF4;
	font-size: 10px;
	
}
.modal-gallery img{
	width: 80px;
}

/* Bouton fermer modale */
.hidden-text{
	display: none;
}

.js-modal-close{
	border: none;
	background-color: transparent;
	width: 100%;
	display: flex;
	justify-content: right;
	margin-bottom: 20px;
	font-size: 1rem;
	
}
.filter_container{
	display: flex;
	justify-content: center;
	margin-bottom: 60px;
	
}
.filter{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 1rem;
	text-align: center;
	justify-content: center;
	padding: 10px 20px;
	margin: 0px 10px  ;
	background-color: transparent;
	color: #1D6154;
	border: solid 1.5px #1D6154;
	text-align: center;
	border-radius: 60px ;
}

.filter_active{
	background-color: #1D6154;
	color: var(--main-color);
	border: none;
	
	
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact ,.login {
	width: 50%;
	margin: auto;
}
#contact ,.login > * {
	text-align: center;

}
#contact h2,.login h2{
	margin-bottom: 20px;
}
#contact form, .login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}
.error_message{
	color: red;
}
.input_error{
	box-shadow: 0px 4px 14px rgba(241, 5, 5, 0.885);
}

#contact input,.login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label ,.login label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	padding: 10px 40px;
	margin : 2em auto ;
	text-align: center;
	border: none;
	border-radius: 60px ;
}

.login a{
	color: #1D6154;
	text-align: center;
}

.log_out{
	
	text-align: center;
}



footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
	background-color: white;
	
}

